.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  z-index: 5050;
  top: 0;
  display: flex;
  font-family: "Sen", sans-serif;
  overflow: hidden;
}

ul {
  padding-left: 0;
}

.navbar li {
  display: inline;
}
